@using TLOSoltuion.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="personal">
            <img src="https://media.store123doc.com/images/default/user_small.png" alt="">
            <div class="personal-name">
                <a href="#">@User.Identity.Name</a>
            </div>
            <div class="hover-item">
                <label></label>
                <div class="personal-info">
                    <ul>
                        <a href="">
                        <li>Thông tin cá nhân</li></a>
                        <a href="">
                        <li>Hòm thư</li></a>
                        <a href="">
                        <li>Quản lý tài liệu</li></a>
                        <li>
                            <form asp-controller="Authentication" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="notify">
            <i class="far fa-bell text-light"></i>
        </div>

    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-primary mr-30" asp-controller="Authentication"
               asp-action="Login">Đăng nhập</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-success mr-30" asp-controller="Authentication"
               asp-action="Register">Đăng ký</a>
        </li>
    }
</ul>