<div class="forgot1__password d-none" id="data__password--2">
    <div class="forgot1__text">
        <h3>Đã gửi đến Email!</h3>
        <p>Kiểm tra trong hộp thư của bạn và nhập mã code để đặt lại mật khẩu</p>
        <div class="forgot1__icon" id="forgot__animation--1"><i class="fas fa-check-circle fa-2x"
                style="color:rgb(217, 255, 47);"></i></div>
    </div>
    <div class="forgot1__image"><img src="https://static.thenounproject.com/png/2732925-200.png" alt=""></div>
    <ul class="forgot1__input">
        <li><input type="text" class="form-control" maxlength="1" id="inputCode1"></li>
        <li><input type="text" class="form-control" maxlength="1" id="inputCode2"></li>
        <li><input type="text" class="form-control" maxlength="1" id="inputCode3"></li>
        <li><input type="text" class="form-control" maxlength="1" id="inputCode4"></li>
        <li><input type="text" class="form-control" maxlength="1" id="inputCode5"></li>
        <li><input type="text" class="form-control" maxlength="1" id="inputCode6"></li>
    </ul>
    <div class="form-group">
        <button type="button" class="btn btn-forgot1" id="data__login--1"
            style="background-color: #FE4066; color: white;">Kiểm tra</button>
    </div>
    <div class="remember__password">
        <span>Email chưa nhận được thông báo?</span>
        <a type="button" id="login--1">Nhập lại email</a>
    </div>
</div>