@model ForgotPasswordModel

@{
    Layout = "_Layout2";
}

<div class="forgot1__password " id="data__password--1">
    <div class="forgot1__text">
        <h3>Quên mật khẩu?</h3>
        <p>Nhập lại Email bạn đã đăng ký để hướng dẫn đặt lại mật khẩu</p>
    </div>
    <div class="forgot1__image">
        <img src="https://static.thenounproject.com/png/2732925-200.png" alt="">
        <div class="forgot1__icon" id="forgot--animation">
            <i class="far fa-paper-plane fa"
               style="color: rgba(0, 225, 255, 0.829);"></i>
        </div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control forgot1__input" id="inputemail">
        <button type="submit" class="btn btn-forgot1" id="data-send"
                style="background-color: #FE4066; color: white;">
            Gửi
        </button>
    </div>
    <div class="remember__password">
        <span>Nhớ mật khẩu?</span>
        <a href="login.html" id="login">Đăng nhập</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
