@model UserLoginModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_Layout2";
}

<div class="back-ground">
    <div></div>
</div>
<div id="data-login" class="">
    <div class="login">
        <img src="https://cmmsv1.github.io/CNPM.github.io/logo.png" alt="" class="logo">
        <form class="login-account" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="back-home">
                <i class="far fa-arrow-alt-circle-left"></i>
                <a href="@Url.Action("Index", "Home")"><h3 class="back-home--h1">Trở về trang chủ</h3></a>
            </div>
            <span class="span">Đăng nhập vào Tailieuonline.com</span>
            <div class="form-group form">
                <input asp-for="Email" type="email" class="form-control input" id="InputEmail" placeholder="Email">
            </div>
            <div class="form-group form">
                <input asp-for="Password" type="password" class="form-control input" id="InputPassword" placeholder="Mật khẩu">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> Remember me
                </label>
            </div>
            <a href="@Url.Action("ForgotPassword","Authentication")" class="forgot" id="data-forgot">Quên mật khẩu</a>

            <button type="submit" class="btn btn-sign-in" style="background-color: #FE4066 ;color: white">
                Đăng nhập
            </button>
            <div class="sign-up">
                <span>Bạn chưa có tài khoản?</span>
                <a href="@Url.Action("Register", "Authentication")" type="button" class="sign-up1">Đăng ký</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}