@model UserRegisterModel

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Đăng ký";
}

<div class="new-account">
    <div class="back-ground1">
        <div></div>
    </div>
    <div class="create-acc">
        <form class="form" id="data-form" asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-text">
                <h2>Đăng ký</h2>
                <a href="@Url.Action("Index", "Home")">
                    <div class="cancel"><i class="fa fa-times" aria-hidden="true" id="data-cancel"></i></div>
                </a>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" asp-for="LastName" placeholder="Họ">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" asp-for="FirstName" placeholder="Tên">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" asp-for="Password"  type="password" placeholder="Nhập mật khẩu">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" asp-for="ConfirmPassword" type="password" placeholder="Nhập xác nhận mật khẩu">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-sign-in" style="background-color: #FE4066; color: white;">
                Đăng
                ký
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
