@model UserRegisterModel

@{
    Layout = "_Layout2";
}

<div class="new-account">
    <div class="back-ground1">
        <div></div>
    </div>
    <div class="create-acc">
        <form class="form" id="data-form">
            <div class="form-text">
                <h2>Đăng ký</h2>
                <a href="index.html">
                    <div class="cancel"><i class="fa fa-times" aria-hidden="true" id="data-cancel"></i></div>
                </a>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputSurname" placeholder="Họ">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputName" placeholder="Tên">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputText" placeholder="Số di động hoặc email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputPassword" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="number" class="form-control" id="inputDay" placeholder="Ngày sinh" min="1" max="31">
                </div>
                <div class="form-group col-md-4">
                    <input type="number" class="form-control" id="inputMonth" placeholder="Tháng" min="1" max="12">
                </div>
                <div class="form-group col-md-4">
                    <input type="number" class="form-control" id="inputYear" placeholder="Năm" min="1905" max="2021">
                </div>
                <div class="form-group col-md-12">
                    <select id="inputSex" class="form-control">
                        <option value="" style="display: none;">Giới tính</option>
                        <option value="0">Nam</option>
                        <option value="1">Nữ</option>
                        <option value="2">Khác</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-sign-in" style="background-color: #FE4066; color: white;">
                Đăng
                ký
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
