@model ResetPasswordModel

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Quên mật khẩu";

}
<form asp-action="ResetPassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="forgot1__password" id="data__password--3">
        <div class="forgot1__text">
            <h3>Tạo mật khẩu mới</h3>
        </div>
        <div class="forgot1__input">
            <input type="password" class="form-control forgot1__input" asp-for="Password"
                   placeholder="Nhập mật khẩu mới">
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>

        <div class="forgot1__input">
            <input type="password" class="form-control forgot1__input" asp-for="ConfirmPassword"
                   placeholder="Xác nhận lại mật khẩu mới">
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />
        <div class="form-group">
            <button type="submit" class="btn btn-forgot1" id="data__login--2"
                    style="background-color: #FE4066; color: white;">
                Xác nhận mật khẩu mới
            </button>
        </div>
    </div>
</form>
