@{
    Layout = "_Layout2";
    ViewData["Title"] = "Đăng ký";

}

<div>
    <div id="header flex">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="/image/logo.png" alt="">
            </a>

        </nav>
    </div>
    <div class="flex mt-200">
        <div class="confirm-mail">
            <h2>Cảm ơn đã đăng ký</h2>
            <p>
                Vui lòng xác nhận mail để đăng nhập
            </p>
            <div class="succes-i flex">
                <i class="fas fa-check-circle"></i>
            </div>
        </div>
    </div>
</div>