@model IndexCustomViewModel
@{
    ViewData["Title"] = "Home Page";
    var postList = Model.IndexViewModel;
    var categoryList = Model.CategoryViewModel;
}

<div id="main">

    		<!-- Header -->

            <!-- Slider -->

    		<div id="slider">
                <div>
                    <img id = "img" src="image/slider/1.jpg" alt="">
                </div>
    		</div>
            <hr/>

            <!-- Nội dung -->

    		<div id="content">

                <!-- Danh mục tài liệu -->

    			<div class="first-content">
                    <h1 class="first-content h1">DANH MỤC TÀI LIỆU</h1>         
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/1.png" alt="">
                                    <h3>Luận văn - báo cáo</h3>
                                    <p>Luận văn đại học, cao học, tiế...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/2.png" alt="">
                                    <h3>Kỹ năng mềm</h3>
                                    <p>Kỹ năng, tư duy,quản lý, giao...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/3.png" alt="">
                                    <h3>Mẫu slide</h3>
                                    <p>Mẫu slide đẹp với nhiều đề tài</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/4.png" alt="">
                                    <h3>Kinh doanh - tiếp thị</h3>
                                    <p>Quản trị, internet, marketing</p>
                                </a>                
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/5.png" alt="">
                                    <h3>Kinh tế - Quản lý</h3>
                                    <p>Quản lý dự án, nhà nước, tiêu...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/6.png" alt="">
                                    <h3>Tài chính - Ngân hàng</h3>
                                    <p>Báo cáo tài chính, kế toán, ki...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/7.png" alt="">
                                    <h3>Biểu mẫu - Văn bản</h3>
                                    <p>Biểu mẫu, đơn từ,thủ tục, hợp...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/8.png" alt="">
                                    <h3>Giáo dục đào tạo</h3>
                                    <p>Các tài liệu, đề thi liên quan...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/9.png" alt="">
                                    <h3>Giáo án bài giảng</h3>
                                    <p>Các giáo án bài giảng các cấp...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/10.png" alt="">
                                    <h3>Công nghệ thông tin</h3>
                                    <p>Tài liệu lĩnh vực công nghệ th...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/pl.jpg" alt="">
                                    <h3>Văn bản pháp luật</h3>
                                    <p>Thông tư, nghị định, pháp lệnh...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/12.png" alt="">
                                    <h3>Học tiếng Anh</h3>
                                    <p>Các tài liệu liên quan đến học...</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/13.png" alt="">
                                    <h3>Các bài văn khấn nôm</h3>
                                    <p>Các bài văn khấn nôm</p>
                                </a>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
                                <a href="#" class="content-a">
                                    <img class="img-item" src="image/content/14.jpg" alt="">
                                    <h3>Lĩnh vực khác</h3>
                                    <p>Nấu ăn, mẹo vặt, hoạt động ngo...</p>
                                </a>
                            </div>

                        </div>

                    </div>      
                </div>
                <hr />

                <!-- Tất cả -->

                <div class="content-item">
                    <h1 class="content-item h1">TẤT CẢ</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15 mh300">
                                <div class="box">
                                    <a href="#" class="box-image">
                                        <i class="fas fa-file-word "></i>
                                        <img class="img-content-item" src="image/content-item/1.jpg" alt=""></img>
                                    </a>
                                    <div class="box-item">
                                        <a href="#"><h4>Tìm hiểu quy trình công nghệ chế biến sản phẩm</h4></a>
                                        <ul class="content-item--ul">
                                            <li><i class="far fa-file-alt"> 12</i></li>
                                            <li><i class="fas fa-eye"></i>  23,564</li>
                                            <li><i class="fas fa-download"> 560</i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15 mh300">
                                <div class="box">
                                    <a href="#" class="box-image">
                                        <i class="fas fa-file-word "></i>
                                        <img class="img-content-item" src="image/content-item/1.jpg" alt=""></img>
                                    </a>
                                    <div class="box-item">
                                        <a href="#"><h4>Tìm hiểu quy trình công nghệ chế biến sản phẩm</h4></a>
                                        <ul class="content-item--ul">
                                            <li><i class="far fa-file-alt"> 12</i></li>
                                            <li><i class="fas fa-eye"></i>  23,564</li>
                                            <li><i class="fas fa-download"> 560</i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15 mh300">
                                <div class="box">
                                    <a href="#" class="box-image">
                                        <i class="fas fa-file-word "></i>
                                        <img class="img-content-item" src="image/content-item/1.jpg" alt=""></img>
                                    </a>
                                    <div class="box-item">
                                        <a href="#"><h4>Tìm hiểu quy trình công nghệ chế biến sản phẩm</h4></a>
                                        <ul class="content-item--ul">
                                            <li><i class="far fa-file-alt"> 12</i></li>
                                            <li><i class="fas fa-eye"></i>  23,564</li>
                                            <li><i class="fas fa-download"> 560</i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15 mh300">
                                <div class="box">
                                    <a href="#" class="box-image">
                                        <i class="fas fa-file-word "></i>
                                        <img class="img-content-item" src="image/content-item/1.jpg" alt=""></img>
                                    </a>
                                    <div class="box-item">
                                        <a href="#"><h4>Tìm hiểu quy trình công nghệ chế biến sản phẩm</h4></a>
                                        <ul class="content-item--ul">
                                            <li><i class="far fa-file-alt"> 12</i></li>
                                            <li><i class="fas fa-eye"></i>  23,564</li>
                                            <li><i class="fas fa-download"> 560</i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15 mh300">
                                <div class="box">
                                    <a href="#" class="box-image">
                                        <i class="fas fa-file-word "></i>
                                        <img class="img-content-item" src="image/content-item/1.jpg" alt=""></img>
                                    </a>
                                    <div class="box-item">
                                        <a href="#"><h4>Tìm hiểu quy trình công nghệ chế biến sản phẩm</h4></a>
                                        <ul class="content-item--ul">
                                            <li><i class="far fa-file-alt"> 12</i></li>
                                            <li><i class="fas fa-eye"></i>  23,564</li>
                                            <li><i class="fas fa-download"> 560</i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr/>

                <!-- Tài liệu chung -->


                <div class="content-last">
                    <div class="container">
                        <h1>TÀI LIỆU CHUNG</h1>
                        <div class="content-last--item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <h3 class="color color1">Ngoại Ngữ</h3>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    
                                   
                                    

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <h3 class="color color2">Giáo Dục - Đào Tạo</h3>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <h3 class="color color3">Kỹ Thuật - Công Nghệ</h3>
                                
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    
                                   
                                   
                                    
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <h3 class="color color4">Công Nghệ Thông Tin</h3>
                                    
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                    <div class="content-last-list">
                                        <a href="#">
                                            <i class="fas fa-file-word "></i>
                                            Viết đoạn văn ngắn tiếng anh về các chủ đề cho trước 
                                            <ul class="content-item--ul pd20">
                                                <li><i class="far fa-file-alt"> 12</i></li>
                                                <li><i class="fas fa-eye"></i>  23,564</li>
                                                <li><i class="fas fa-download"> 560</i></li>
                                            </ul>                               
                                        </a>
                                    </div>
                                
                                  
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
            <hr/>


            <!-- footer -->



    		
    	</div>
